body {
    direction: rtl;
}

select {
    background-position-x: 10px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11 {
    float: right !important;
}

.right-fa {
    margin-left: 5px;
}

.left-fa {
    margin-right: 5px;
}

.view-table thead tr th {
    text-align: right;
}

.view-table tbody tr td:first-child span {
    border-right: 1px solid #eaeaea;
}

.view-table.border-last tbody tr td:last-child span {
    border-left: 1px solid #eaeaea;
}

.view-table:not(.border-last) tbody tr td:nth-last-child(2) span {
    border-left: 1px solid #eaeaea;
}

.view-table tbody tr td button {
    margin-right: 6px;
}

.uploaded-block .close {
    left: 10px;
}

.images-upload-block.big-image .upload-img {
    right: 0;
}

.images-upload-block.big-image .uploaded-block .close {
    left: auto;
    right: 10px;
}

.bordered-btns .btn-block {
    border-right: 1px solid #eaeaea;
}

.checkbox-holder + input {
    float: left;
}

@media (min-width: 768px) {

    .text-align-right {
        text-align: right;
    }

    .text-align-left {
        text-align: left;
    }

    .fadeInLeft {
        -webkit-animation-name: fadeInLeft;
        animation-name: fadeInLeft;
    }

    .fadeInRight {
        -webkit-animation-name: fadeInRight;
        animation-name: fadeInRight;
    }

    .dropdown-menu {
        text-align: right;
    }

}