/*--------------------------------------
*********** START RESET ***********
--------------------------------------*/

* {
    border: 0;
    margin: 0;
    padding: 0;
    outline: none;
}

@font-face {
    font-family: 'DinNext';
    src: url('../fonts/DinNextLight.eot');
    src: url('../fonts/DinNextLight.woff') format('woff'),
    url('../fonts/DinNextLight.ttf') format('truetype'),
    url('../fonts/DinNextLight.svg#DinNextLight') format('svg');
}

@font-face {
    font-family: 'Ebrima';
    src: url('../fonts/Ebrima-Bold.eot');
    src: url('../fonts/Ebrima-Bold.woff') format('woff'),
    url('../fonts/Ebrima-Bold.ttf') format('truetype'),
    url('../fonts/Ebrima-Bold.svg#Ebrima-Bold') format('svg');
}

body {
    min-width: 320px;
    overflow-x: hidden;
    overflow-y: hidden;
    background: #fafafa;
    color: #454545;
    font: 14px 'DinNext', sans-serif;
    line-height: 1.6em;
}

a {
    color: #454545;
}

a:hover, a:focus {
    color: #ff0000;
}

a, a:hover, a:focus, button, label {
    text-decoration: none;
    cursor: pointer;
}

label {
    font-weight: 100;
}

::selection {
    background: #ff0000;
    color: #fff;
}
::-moz-selection {
    background: #ff0000;
    color: #fff;
}

::-webkit-input-placeholder {
    color: #888;
    opacity: 1;
}
::-moz-placeholder {
    color: #888;
    opacity: 1;
}
:-ms-input-placeholder {
    color: #888;
    opacity: 1;
}
:-moz-placeholder {
    color: #888;
    opacity: 1;
}

input:not([type='submit']), select, textarea {
    padding: 6px 10px;
    display: block;
    width: 100%;
    height: 37px;
    background: #fff;
    color: #454545;
    font-weight: 100;
    margin-bottom: 20px;
    border-radius: 0;
    border: 1px solid #ccc;
}

input:not([type='submit']):focus, select:focus, textarea:focus {
    border-color: #ff0000;
}

select {
    background: #fff url("../images/caret.png") no-repeat;
    background-size: 9px auto;
    background-position-y: center;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

option {
    padding: 7px;
}

textarea {
    height: 120px;
    resize: none;
}

input[type="checkbox"], input[type="radio"] {
    display: inline-block;
    vertical-align: middle;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
}

input[type="file"] {
    padding: 0;
    border: 0;
    box-shadow: 0 0 0 1px #ccc;
}

input.max-width {
    max-width: 200px;
}

ul, ol {
    list-style-position: inside;
}

a, input, select, textarea, button, .dropdown-menu, .upload-img, .upload-img i,
.checkbox-icon, .radio-icon, .checkbox-icon i, .radio-icon i {
    transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}

.text-align-right, .text-align-left {
    text-align: center;
}

/*--------------------------------------
*********** BTNS ***********
--------------------------------------*/

.btn {
    position: relative;
    padding: 8px 20px;
    border: 0;
    min-width: 90px;
    text-align: center;
}

span.btn {
    cursor: default;
}

.btn-sm {
    padding: 6px 12px;
}

.btn-block {
    padding-right: 0 !important;
    padding-left: 0 !important;
    min-width: 10px;
}

.b-r-0 {
    border-radius: 0;
}

.btn-default {
    background: #fafafa;
    border: 1px solid #ccc;
    border-radius: 0;
    margin: 0 5px;
}

.btn-default.table-cell {
    min-width: 20%;
}

.btn-black {
    background: #333;
    color: #fff !important;
}

.btn-red {
    background: #ff0000;
    color: #fff !important;
}

.text-black {
    color: #333;
}

.text-red {
    color: #ff0000;
}

.text-yellow {
    color: #ffcc00;
}

.icofont {
    display: inline-block;
}

/*--------------------------------------
*********** BOX ***********
--------------------------------------*/

.div-padding {
    padding-top: 50px;
    padding-bottom: 50px;
}

.div-small-padding {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
}

a.div-small-padding {
    display: inline-block;
}

.padding-bottom {
    padding-bottom: 30px;
}

.table-view {
    display: table;
    width: 100%;
}

.table-cell {
    display: table-cell;
    vertical-align: top;
}

.panel {
    box-shadow: none;
    border: 1px solid #eaeaea;
    border-radius: 0;
}

.bg-white {
    background: #fff;
}

.bg-gray {
    background: #f1f1f1;
}

.p-0 {
    padding: 0 !important;
}

.p-8 {
    padding: 8px;
}

span.p-8 {
    display: inline-block;
    padding: 8px 16px;
}

.m-0 {
    margin: 0 !important;
}

.m-20 {
    margin: 20px 0;
}

.m-t-40 {
    margin-top: 40px;
}

/*--------------------------------------
*********** ANIMATION ***********
--------------------------------------*/

.animate-box {
    position: relative;
    opacity: 0;
    transition: all 1.4s ease-in-out;
    -o-transition: all 1.4s ease-in-out;
    -moz-transition: all 1.4s ease-in-out;
    -webkit-transition: all 1.4s ease-in-out;
}

.animate-box.animated {
    opacity: 1;
}

.animated {
    animation-duration: 1.4s;
    -webkit-animation-duration: 1.4s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(100%);
        -webkit-transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: none;
        -webkit-transform: none;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(100%);
        -webkit-transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: none;
        -webkit-transform: none;
    }
}

.fadeInUp, .fadeInLeft, .fadeInRight {
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

/***/

@-webkit-keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: none;
        -webkit-transform: none;
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: none;
        -webkit-transform: none;
    }
}

/***/

@-webkit-keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: none;
        -webkit-transform: none;
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: none;
        -webkit-transform: none;
    }
}

/*--------------------------------------
*********** LOADER ***********
--------------------------------------*/

.pre-load {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #ff0000;
    z-index: 999999;
    text-align: center;
}

.pre-load .loader {
    position: absolute;
    top: calc(50% - 45px);
    left: calc(50% - 45px);
}

.loader {
    color: #ffffff;
    font-size: 90px;
    text-indent: -9999em;
    overflow: hidden;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    /*margin: 72px auto;*/
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}
@keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}
@-webkit-keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*--------------------------------------
*********** HEADER / FOOTER ***********
--------------------------------------*/

header {
    background: #454545;
    border-bottom: 3px solid #ff0000;
    padding: 8px 0 10px;
    color: #fff;
}

header ul {
    margin: 0;
}

header a {
    color: #fff;
}

footer {
    background: #1c1c1c;
    border-top: 3px solid #ff0000;
    padding: 10px 0 0;
    color: #fff;
}

footer a {
    color: #ff0000;
}

/*--------------------------------------
*********** NAV ***********
--------------------------------------*/

nav.navbar {
    position: relative;
    border: 0;
    margin: 0;
    border-radius: 0;
    background: transparent;
}

.navbar-nav {
    float: none;
}

.nav > li > a {
    background-color: transparent;
    position: relative;
    color: #454545;
    border-top: 3px solid transparent;
    padding: 10px 10px 20px;
    margin: 5px 10px;
}

.nav > li > a:hover, .nav > li.active > a, .nav > li.active > a:hover, .nav > li.open > a, .nav > li.open > a:hover {
    border-color: #ff0000;
    background: -moz-linear-gradient(top,  rgba(255,0,0,0.2) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(top,  rgba(255,0,0,0.2) 0%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom,  rgba(255,0,0,0.2) 0%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33ff0000', endColorstr='#00000000',GradientType=0 );
}

.navbar-toggle {
    padding: 6px 0;
    color: #fff;
    background: #ff0000;
    margin: 15px;
    float: none;
    font-size: 19px;
    width: calc(100% - 30px);
    max-width: 400px;
}

.dropdown.open .dropdown-toggle .fa {
    transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

.dropdown-menu {
    text-align: center;
    border-radius: 0;
    border: 0;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
    padding: 0;
    z-index: -1;
    opacity: 0;
    transform: translateY(15px);
    -o-transform: translateY(15px);
    -ms-transform: translateY(15px);
    -moz-transform: translateY(15px);
    -webkit-transform: translateY(15px);
}

.navbar-nav .open .dropdown-menu {
    background: #fff;
}

.open .dropdown-menu {
    z-index: 1000;
    opacity: 1;
    transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
}

.dropdown-menu > li > a {
    padding: 8px 14px;
}

/*--------------------------------------
*********** BRANCHES ***********
--------------------------------------*/

.main-div-bg {
    background: url("../images/main-bg.png") no-repeat top center;
    background-size: contain;
}

.fire-div-bg {
    background: url('../images/left-fire.png') no-repeat bottom left, url('../images/right-fire.png') no-repeat bottom right;
    background-size: auto 75%;
}

.google-map {
    width: 100%;
    height: 350px;
}

.table-responsive {
    border: 0;
}

.view-table thead {
    background: #e2e2e2;
}

.view-table thead tr th {
    border: 0;
    padding: 10px;
}

.view-table tbody tr td {
    padding: 15px 0 0;
    border: 0;
}

.view-table tbody tr td span {
    display: block;
    padding: 14px 10px;
    background: #fff;
    border-bottom: 1px solid #eaeaea;
    border-top: 1px solid #eaeaea;
}

.view-table tbody tr td button {
    display: inline-block;
    background: transparent;
    border: 1px solid #eaeaea;
    width: calc(100% - 6px);
    text-align: center;
    height: 50px;
    max-width: 55px;
    min-width: 35px;
    font-size: 20px;
}

.view-table tbody tr td button.success {
    color: #00bb00;
}

.view-table tbody tr td button.danger {
    color: #ff0000;
}

.view-table tbody tr td button.success:hover {
    background: #00bb00;
    color: #fff;
}

.view-table tbody tr td button.danger:hover {
    background: #ff0000;
    color: #fff;
}

.container-sm {
    max-width: 750px;
}

.font-20 {
    font-size: 20px;
}

.font-i-50 {
    font-size: 50px;
    line-height: 0.75em;
}

.m-t-0 {
    margin-top: 0;
}

.label-default {
    background: transparent;
    font-size: 14px;
    padding: 4px 15px 9px;
    border: 1px solid #eaeaea;
    color: #888;
    border-radius: 20px;
    display: inline-block;
    margin: 10px 0 5px;
    min-width: 105px;
}

.label-default ~ .icofont {
    font-size: 18px;
}

.two-colored-panels .panel:nth-child(odd) {
    background: #faffff;
}

input.gray-input, select.gray-input, textarea.gray-input {
    background: #fafafa;
}

.main-line-header {
    margin: 10px 0 40px;
}

.main-line-header h1 {
    margin: 0 0 15px;
    font-size: 26px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.main-line-header span {
    display: inline-block;
    padding: 0 15px;
}

.main-line-header h1:before, .main-line-header h1:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #ccc;
    margin: 2px -1px 0;
}

/*--------------------------------------
*********** UPLOAD IMAGE ***********
--------------------------------------*/

.images-upload-block {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 10px 5px;
}
.upload-img {
    display: inline-block;
    width: 88px;
    height: 88px;
    border: 4px solid #ccc;
    line-height: 95px;
    text-align: center;
    border-radius: 50%;
    position: relative;
}
.upload-img i {
    font-size: 40px;
}
.upload-img:hover {
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.1);
}
.upload-img:hover i {
    transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
}
.upload-img input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
.uploaded-block {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 80px;
}
.uploaded-block img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.uploaded-block .close {
    position: absolute;
    top: 4px;
    color: #ff0000;
    opacity: 0.95;
    text-shadow: 0 1px 1px rgba(0,0,0,0.3);
    padding: 0;
    font-size: 28px;
}

/*--------------------------------*/

.images-upload-block.add-next {
    display: block;
    position: relative;
    margin: 10px;
}

.images-upload-block.add-next .uploaded-block, .images-upload-block.add-next .upload-img {
    border-radius: 8px;
    border: 1px solid #ccc;
    width: 82px;
    height: 82px;
    margin: 5px;
    line-height: 75px;
}

.images-upload-block.add-next img {
    border-radius: 8px;
}

.images-upload-block.add-next .uploaded-block {
    position: relative;
    top: 0;
    right: 0;
    display: inline-block;
    vertical-align: top;
}

/*-------------------*/

.images-upload-block.big-image {
    display: block;
    position: relative;
}

.images-upload-block.big-image .upload-img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 5px;
    line-height: 1em;
    position: absolute;
    top: 0;
    border: 0;
    background: rgba(255,255,255,0.4);
    z-index: 1;
}

.images-upload-block.big-image .upload-img i {
    line-height: 1.2em;
}

.images-upload-block.big-image img {
    border-radius: 0;
    width: 100%;
}

.images-upload-block.big-image .uploaded-block {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    vertical-align: top;
    margin: 0;
    z-index: 2;
}

.images-upload-block.big-image .uploaded-block img {
    width: 100%;
    height: 100%;
}

.over-block {
    position: relative;
    z-index: 4;
}

/*--------------------------------------
*********** FAMILY ***********
--------------------------------------*/

.bordered-btns .btn-block {
    background: transparent;
}

.pagination {
    text-align: center;
    display: block;
    margin-top: 40px;
}

.pagination li {
    margin: 0;
    display: inline-block;
}

.pagination li a {
    float: none;
    display: block;
    border-radius: 0 !important;
    margin: 0 4px 8px !important;
    color: #212121;
    border-color: #ccc;
}

.pagination li.active a, .pagination li.gray a {
    background: #ebebeb;
    border-color: #ccc;
    color: #212121;
}

.pagination li.active a:hover, .pagination li a:hover,
.pagination li.active a:focus, .pagination li a:focus {
    background: #ff0000;
    border-color: #ff0000;
    color: #fff;
}

input.input-b-bottom {
    background: transparent;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    padding-top: 0;
    height: auto;
}

.modal-dialog {
    margin: 80px 10px 20px;
}

.modal-content {
    box-shadow: none;
    border-radius: 4px;
}

.modal-body {
    padding: 80px 15px 25px;
}

.modal .image-block {
    position: absolute;
    width: 110px;
    height: 110px;
    line-height: 103px;
    border-radius: 50%;
    border: 1px solid #ccc;
    background: #fff;
    text-align: center;
    top: -55px;
    left: calc(50% - 55px);
}

.modal .image-block img {
    width: 80px;
    max-height: 80px;
}

.modal .main-line-header {
    margin-bottom: 20px;
}

.modal .main-line-header h1 {
    font-size: 24px;
}

.boxed-form {
    margin-top: 20px;
    padding: 5px;
    border: 1px solid #ccc;
    background: url("../images/textarea-bg-1.png") no-repeat left top,
                url("../images/textarea-bg-2.png") no-repeat right bottom;
    background-color: #fff;
    background-size: auto 60%;
}

.boxed-form textarea {
    border: 0;
    background: transparent;
}

/*--------------------------------------
*********** 404 ***********
--------------------------------------*/

.not-found-div {
    background: url("../images/404-bg.png") no-repeat center;
    background-size: 100% 100%;
    min-height: 600px;
    padding-top: 80px;
    font-family: 'Ebrima', sans-serif;
    color: #fe8126;
}

.not-found-div .container{
    background: url("../images/tomato-bg.png") no-repeat center bottom;
    background-size: auto 130px;
    padding-bottom: 40px;
}

.btn-orange {
    background: #fe8126;
    color: #fff;
    margin-top: 40px;
}

.above-number {
    position: relative;
}

.above-number h1 {
    font-size: 11.5em;
}

.above-number h2 {
    font-size: 3em;
    text-transform: uppercase;
    background: #fff;
    margin: 0;
    position: absolute;
    top: calc(50% - 18px);
    left: 0;
    width: 100%;
}



/*--------------------------------------
*********** CHECKBOX + RADIO ***********
--------------------------------------*/

.checkbox-holder, .radio-holder {
    font-weight: 100;
    position: relative;
    cursor: pointer;
    margin: 6px 0;
}

.checkbox-holder span, .radio-holder span {
    vertical-align: middle;
}

.checkbox-holder .checkbox-icon, .radio-holder .radio-icon {
    width: 15px;
    height: 15px;
    line-height: 10px;
    display: inline-block;
    background: #fff;
    text-align: center;
    border: 1px solid #ff0000;
    margin: 0 4px;
}

.radio-holder .radio-icon {
    border-radius: 50%;
}

.checkbox-holder input[type="checkbox"], .radio-holder input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkbox-holder input[type="checkbox"]:checked + .checkbox-icon, .radio-holder input[type="radio"]:checked + .radio-icon {
    background: #ff0000;
}

.checkbox-holder input[type="checkbox"]:disabled ~ span, .radio-holder input[type="radio"]:disabled ~ span {
    cursor: not-allowed;
    border-color: #ccc;
}

.checkbox-holder .checkbox-icon i, .radio-holder .radio-icon i {
    font-size: 13px;
    opacity: 0;
}

.checkbox-holder input[type="checkbox"]:checked + .checkbox-icon i, .radio-holder input[type="radio"]:checked + .radio-icon i {
    color: #fff;
    opacity: 1;
}

.checkbox-holder + input {
    max-width: 50%;
    margin: 0;
    display: none;
}

/*--------------------------------------
*********** START MEDIA ***********
--------------------------------------*/

@media (max-width: 767px) {

    .border-bottom-xs {
        border-bottom: 1px solid #eaeaea;
    }

    .table-cell.block {
        display: inline-block;
    }

    .modal .btn {
        min-width: 50px;
    }

}

@media (min-width: 768px) {

    .navbar-nav > li {
        float: none;
        display: inline-block;
        vertical-align: top;
    }

    .dropdown-menu {
        display: block;
    }

    .modal-dialog {
        margin: 90px auto 30px;
    }

    .main-line-header:before, .main-line-header:after {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 20%;
        max-width: 120px;
        height: 1px;
        background: #ccc;
        margin: 0 -4px;
    }

}

@media (max-width: 991px) {

    .border-bottom-sm {
        border-bottom: 1px solid #eaeaea;
    }

    .table-cell.block {
        padding: 10px 5px 0;
    }

}

@media print {

    .print-hide {
        display: none !important;
    }

    .clearfix > div {
        float: none !important;
        display: inline-block !important;
        vertical-align: top !important;
        width: 120px !important;
    }

    .clearfix > div:nth-child(2) {
        width: 200px !important;
    }

    input {
        width: 200px !important;
        display: inline-block !important;
        border: 0 !important;
    }

}