select {
    background-position-x: calc(100% - 10px);
}

.text-left {
    text-align: right;
}

.text-right {
    text-align: left;
}

.pull-left {
    float: right !important;
}

.pull-right {
    float: left !important;
}

.right-fa {
    margin-right: 5px;
}

.left-fa {
    margin-left: 5px;
}

.dropdown-menu {
    left: 0;
    right: auto;
}

.view-table thead tr th {
    text-align: left;
}

.view-table tbody tr td:first-child span {
    border-left: 1px solid #eaeaea;
}

.view-table.border-last tbody tr td:last-child span {
    border-right: 1px solid #eaeaea;
}

.view-table:not(.border-last) tbody tr td:nth-last-child(2) span {
    border-right: 1px solid #eaeaea;
}

.view-table tbody tr td button {
    margin-left: 6px;
}

.uploaded-block .close {
    right: 10px;
}

.images-upload-block.big-image .upload-img {
    left: 0;
}

.images-upload-block.big-image .uploaded-block .close {
    left: 10px;
    right: auto;
}

.bordered-btns .btn-block {
    border-left: 1px solid #eaeaea;
}

.col-sm-push-1 {
    left: auto;
    right: 8.33333333%;
}

.pagination > li:first-child > a span, .pagination > li:first-child > span span,
.pagination > li:last-child > a span, .pagination > li:last-child > span span {
    transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

.checkbox-holder + input {
    float: right;
}

@media (min-width: 768px) {

    .text-align-right {
        text-align: left;
    }

    .text-align-left {
        text-align: right;
    }

    .fadeInLeft {
        -webkit-animation-name: fadeInRight;
        animation-name: fadeInRight;
    }

    .fadeInRight {
        -webkit-animation-name: fadeInLeft;
        animation-name: fadeInLeft;
    }

    .dropdown-menu {
        text-align: left;
    }

}