/*smart phones*/

@media (max-width:375px) {
  .personal {
      margin-left: -10px;
      margin-top: -3px;
  }
  .sid_nav {
    width: 75%!important;
    transform: translateX(100%);
    transition: .3s;
  }
  .container- {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .row- .col-xs-12- {
    width: 100%;
    padding: 0;
    margin-left: 3px;
    margin-right: 3px;

  }
}
@media (max-width:320px) {
  .personal {
      margin-left: -30px;
      margin-top: -5px;
  }
  .sid_nav {
    width: 75%!important;
    transform: translateX(100%);
    transition: .3s;
  }
}
@media (max-width:767px) {
  .personal {
      margin-left: -10px;
      margin-top: -5px;
  }
  .sid_nav {
    width: 60%;
    transform: translateX(100%);
    transition: .3s;
  }

  .sid_nav_ {
    transform: translateX(0%);
    transition: .3s;
  }

  .sid_nav_list li a {
    color: #fff;
  font-size: 16px;
  }
  .link_icon {
  margin-left: 5px;
  border-radius: 100px;
  color: gray!important;
  font-size: 18px;
  }
  .main_content {
    background-color: #eee;
    width: 100%;
    float: left;
  transition: .3s;
  }
  .main_content_{
    width: 40%;
    display: none;
  }
  table {
    text-align: right;
    font-size: 16px;
  }
  table.responsive-table thead {
    width: 30%;
  }
  table.dataTable.cell-border tbody th, table.dataTable.cell-border tbody td {
    width: 100%;
}
table.dataTable tbody th, table.dataTable tbody td {
    padding: 15px 10px;
}
  .login_ {
    width: 95%;
  }
  .pro_pic {
  right: 0%;
  }
  .login_h4 {
    font-size: 28px;
  }
  .pro_pic img {
    width: 210px;
    height: 140px;

  }


  .lock {
    width: 100%;
    margin: 50px auto;
    padding: 2%;
    margin-bottom: 0;
  }
  .card_form {
    width: 100%;
    margin: 10px auto;
  }
  .logo_text {
    font-size: 20px;

}
input:not([type]), input[type=text], input[type=password],
input[type=email], input[type=url], input[type=time],
input[type=date], input[type=datetime],
input[type=datetime-local], input[type=tel],
input[type=number],
input[type=search], textarea.materialize-textarea {
  margin: 0;
}
.owl-carousel {
   direction: ltr;
   width: 100%;
    margin: 0px auto;
}
.owl-carousel .item {
   width: 100%;
   height: 200px;
   margin: 0 auto;
}
.owl-carousel .item img {
   width: 98%;
   height: 190px;

}
.video {
  width: 100%;
  height: 180px;
 }
 .video .video_content {
   width: 100%;
   height: 180px;

 }
 .ads_text p,.ads_text- p  {
    font-size: 20px;
    padding: 20px 15px;
    text-align: justify;
}
.ads_text ,.ads_text- {
    width: 100%;
}
}
/*small screen*/
@media (min-width:768px) and (max-width:991px) {
  .sid_nav {
    width: 35%;
    transform: translateX(75%);
    transition: .3s;

  }
  .sid_nav_ {
    transform: translateX(0%);
    transition: .3s;
  }
  .main_content {
    background-color: #eee;
    width: 90%;
    float: left;
  transition: .3s;
  }
  .main_content_{
    width: 65%;
  }
  .sid_nav_list li a {
    color: #fff;
  font-size: 18px;
  }
  .link_icon {
    padding: 8px 5px 5px 5px;
  margin-left: 5px;
  border-radius: 100px;
  color: gray!important;
  font-size: 18px;
  }
  .pro_pic {
    right: 20%;
  }
  .card_form {
    width: 90%;
    margin: 10px auto;
  }
  table.dataTable tbody th, table.dataTable tbody td {
    padding: 11px 10px;
}
.owl-carousel .item {
  width: 260px;
  height: 200px;
  margin: 0 auto;

}
.owl-carousel .item img {
  width: 250px;
  height: 200px;
  margin: 0 auto;
  -webkit-box-shadow: 9px 11px 5px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 9px 11px 5px -7px rgba(0,0,0,0.75);
  box-shadow: 9px 11px 5px -7px rgba(0,0,0,0.75);
  border: 1px solid #ddd;
}
}
/*medium screen*/
@media (min-width:991px) and (max-width:1199px) {
  .sid_nav {
    width: 25%;
    transform: translateX(77%);
    transition: .3s;

  }
  .sid_nav_ {
    transform: translateX(0%);
    transition: .3s;
  }
  .main_content {
    background-color: #eee;
    width: 90%;
    float: left;
  transition: .3s;
  }
  .main_content_{
    width: 75%;
  }
  .pro_pic {

    right: 30%;
    top: 0%;
  }
  .owl-carousel .item {
    width: 250px;
    height: 200px;

  }

  }
@media (min-width:1200px) and (max-width:1310px) {

}

@media (min-width:1440px) and (max-width:1600px) {

}
@media (min-width:1450px) and (max-width:2560px) {
  .pro_pic {
      margin: 0 auto;
      position: absolute;
      right: 40%;
      top: 0%;
  }
}
