


.modal-wrapper { 
  width: 100%; 
  height: 100%; 
  min-height: 100%; 
  position: fixed; 
  top: 0; 
  left: 0; 
  background-color: rgba(0,0,0,.7); 
  transition: .4s; 
  visibility: visible; 
  opacity: 1; 
  z-index: 100;
}

.modal-content { 
  max-width: 800px;
  width: 100%;
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 10;
  background-color: #fff;
}


.modal-close
{   
  opacity: 0; 
  visibility: hidden;
}




/*model poup to edit or confirm deletion--------------------------*/

.popup {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.5);
}

/* Inner */

.popup-inner {
    max-width: 700px;
    width: 90%;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 1);
    border-radius: 3px;
    background: #565656;
}
.popup-inner p,
.popup-inner h4 {
    color: #ddd;
    font-size: 20px;
}
.model-form input[type=submit] {
/*    margin-top: 20px;*/
    border-radius: 2px;
}
.model-form input[type=text] {
    background-color: #eee;
    border-radius: 2px;
}

/* Close Button */

.popup-close {
    width: 30px;
    height: 30px;
    padding-top: 4px;
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
    transition: ease 0.25s all;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    border-radius: 1000px;
    background: rgba(0, 0, 0, 0.8);
    font-family: Arial, Sans-Serif;
    font-size: 20px;
    text-align: center;
    line-height: 100%;
    color: #fff;
}
.popup-close:hover {
    -webkit-transform: translate(50%, -50%) rotate(180deg);
    transform: translate(50%, -50%) rotate(180deg);
    background: rgba(0, 0, 0, 1);
    text-decoration: none;
}



/*end model*/