body {
    direction: rtl;
}

select {
    background-position-x: 10px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11 {
    float: right !important;
}

/*--------------*/

.full-width {
    text-align: right;
}

.right-fa {
    margin-left: 5px;
}

.left-fa {
    margin-right: 5px;
}

/*--------------*/

.half-btn {
    padding-left: 65px;
}

.half-btn.red-half:before {
    left: 0;
}

.half-btn .red-icon ,.half-btn .border-icon {
    left: 0;
}

.half-btn .border-icon {
    border-right: 1px solid #ccc;
}

.header .search-box select {
    border-left: 1px solid #ccc;
    padding: 10px 30px 10px 0;
    border-right: 0;
}

.header .search-box .btn.dropdown-toggle {
    border-left: 1px solid #ccc;
}

.header .search-box > div:first-child .btn.dropdown-toggle {
    border-radius: 0 3px 3px 0;
}

.header .search-box > div:last-child button {
    border-radius: 3px 0 0 3px;
}

.header .search-box div i {
    right: 9px;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    text-align: right;
}

.bootstrap-select.btn-group .dropdown-toggle .caret {
    right: auto;
    left: 12px;
}

.bootstrap-select > .dropdown-toggle {
    padding-right: 35px;
}

/*--------------*/

.navbar-toggle {
    float: left;
    margin-right: 0;
    margin-left: 15px;
}

.navbar-brand {
    float: right;
}

.dropdown-menu {
    text-align: right;
}

/*--------------*/

.owl-carousel .item {
    direction: rtl;
}

.offer-bg .discount {
    left: 10px;
}

.border-left {
    border-left: 1px solid #ccc;
}

/*--------------*/

.offers-panel .media-left {
    padding-right: 0;
}

/*--------------*/

.f-burger {
    right: 3%;
}

.fixed-burger {
    right: calc(3% + 18px);
    transform: translateX(100px);
    -o-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -webkit-transform: translateX(100px);
}

.uploaded-block .close {
    left: 10px;
}

/*--------------*/

.choose-type > div.right-item:before {
    right: 50%;
}

.choose-type > div.left-item:before {
    left: 50%;
}

/*--------------*/

.tabs > li > a:after {
    right: 0;
    transform-origin: right;
    -o-transform-origin: right;
    -ms-transform-origin: right;
    -moz-transform-origin: right;
    -webkit-transform-origin: right;
}

.rating-holder label {
    float: left;
}

.search-with-btn .search-btn {
    left: 1px;
}

.menu-list li a {
    border-right: 2px solid transparent;
}

/*--------------*/

@media (max-width: 767px) {

    .navbar-collapse {
        right: 0;
        box-shadow: -2px 0 4px 0 rgba(0, 0, 0, 0.15);
        transform: translateX(100%);
        -o-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
    }

    .header .search-box select {
        border-left: 0;
    }

    .dropdown-menu > li > a i {
        margin-left: 10px;
    }

}

@media (min-width: 768px) {

    .text-align-right {
        text-align: right;
    }

    .text-align-left {
        text-align: left;
    }

    .fadeInLeft {
        -webkit-animation-name: fadeInLeft;
        animation-name: fadeInLeft;
    }

    .fadeInRight {
        -webkit-animation-name: fadeInRight;
        animation-name: fadeInRight;
    }

    .header .social {
        left: 15px;
    }

    .navbar-nav > li, .navbar-header {
        float: right;
    }

    .nav.navbar-left.no-border {
        margin-left: 10px;
    }

    .nav.navbar-left.no-border > li:first-child {
        border-left: 1px solid rgba(255, 255, 255, 0.2)
    }

    .nav.navbar-left > li:not(.dropdown):last-child {
        border-right: 0;
    }

    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        margin-left: 0;
    }

    .navbar-nav .dropdown-menu:before {
        left: 10px;
    }

    .navbar-nav .dropdown-menu li:not(:last-child) {
        float: right;
    }

    .navbar-nav .dropdown-menu li:not(:first-child) a,
    .navbar-nav .dropdown-menu li:not(:last-child) a,
    .item-b-left .table-cell:not(:first-child) {
        border-right: 1px solid #ccc;
    }

    .message-box .table-cell:first-child {
        border-left: 1px solid #ccc;
    }

    .order-box .table-view {
        padding-right: 15px;
    }

    .open-search-btn {
        right: -39px;
    }

}

@media (min-width: 992px) {

    .nav.navbar-right {
        margin-right: 20px;
    }

}