/*--------------------------------------
*********** START RESET ***********
--------------------------------------*/

* {
    border: 0;
    margin: 0;
    padding: 0;
    outline: none;
}

@font-face {
    font-family: 'GESSTwoMedium';
    src: url('../fonts/GESSTwoMedium-Medium.eot');
    src: url('../fonts/GESSTwoMedium-Medium.woff') format('woff'),
         url('../fonts/GESSTwoMedium-Medium.ttf') format('truetype'),
         url('../fonts/GESSTwoMedium-Medium.svg#GESSTwoMedium-Medium') format('svg');
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('../fonts/Roboto-Medium.eot');
    src: url('../fonts/Roboto-Medium.woff') format('woff'),
         url('../fonts/Roboto-Medium.ttf') format('truetype'),
         url('../fonts/Roboto-Medium.svg#Roboto-Medium') format('svg');
}

@font-face {
    font-family: 'DinNext';
    src: url('../fonts/DinNextLight.eot');
    src: url('../fonts/DinNextLight.woff') format('woff'),
         url('../fonts/DinNextLight.ttf') format('truetype'),
         url('../fonts/DinNextLight.svg#DinNextLight') format('svg');
}

body {
    min-width: 320px;
    overflow-x: hidden;
    overflow-y: hidden;
    background: #fff;
    color: #454545;
    font: 14px 'GESSTwoMedium', sans-serif;
    line-height: 1.6em;
}

a {
    color: #ff0000;
}

a:hover, a:focus {
    color: #454545;
}

a, a:hover, a:focus, button, label {
    text-decoration: none;
    cursor: pointer;
}

label {
    font-weight: 100;
}

::selection {
    background: #ff0000;
    color: #fff;
}
::-moz-selection {
    background: #ff0000;
    color: #fff;
}

::-webkit-input-placeholder {
    color: #888;
    opacity: 1;
}
::-moz-placeholder {
    color: #888;
    opacity: 1;
}
:-ms-input-placeholder {
    color: #888;
    opacity: 1;
}
:-moz-placeholder {
    color: #888;
    opacity: 1;
}

input:not([type='submit']), select, textarea {
    padding: 6px 10px;
    display: block;
    width: 100%;
    height: 37px;
    background: #fff;
    color: #454545;
    font-weight: 100;
    margin-bottom: 15px;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #ccc;
}

input:not([type='submit']).full-border, select.full-border, textarea.full-border, .bootstrap-select.full-border {
    border: 1px solid #ccc;
}

input:not([type='submit']).bg-gray, select.bg-gray, textarea.bg-gray {
    background: #fafafa;
}

input:not([type='submit']):focus, select:focus, textarea:focus {
    border-color: #ff0000;
}

select {
    background: #fff url("../images/caret.png") no-repeat;
    background-position-y: center;
    background-size: 9px auto;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

option {
    padding: 7px;
}

textarea {
    height: 120px;
    resize: none;
}

input[type="checkbox"], input[type="radio"] {
    display: inline-block;
    vertical-align: middle;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
}

ul, ol {
    list-style-position: inside;
}

a, input, select, textarea, button, .dropdown-menu, .navbar-collapse, .navbar-toggle span, .nav a:before,
.half-btn:before, .offer-bg, .checkbox-icon, .radio-icon, .checkbox-icon i, .radio-icon i, .fixed-burger,
.search-data, .search-data .col-lg-3, .overlay, .tabs > li > a:after {
    transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}

.text-align-right, .text-align-left {
    text-align: center;
}

/*--------------------------------------
*********** BTNS ***********
--------------------------------------*/

.btn {
    position: relative;
    padding: 8px 20px;
    border-radius: 0;
    border: 0;
}

div.btn, span.btn {
    cursor: default;
}

.full-width {
    width: 100%;
}

.btn-br-20 {
    border-radius: 20px !important;
}

.btn-sm {
    padding: 6px 12px;
}

.btn-block {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.icofont {
    font-size: 18px;
}

.btn-black, .btn-red:hover {
    background: #333;
    color: #fff !important;
}

.btn-white {
    background: #fff;
    color: #454545 !important;
}

.btn-white.bg-transparent {
    background: transparent !important;
}

.btn-white.text-red {
    color: #ff0000 !important;
}

.btn-red {
    background: #ff0000;
    color: #fff !important;
}

.btn-gray {
    background: #f1f1f1;
    color: #454545 !important;
}

.btn-border {
    border: 1px solid #ccc;
}

.btn-border.border-red {
    border-color: #ff0000;
}

.btn-border.border-red:hover {
    background: #ff0000;
    color: #fff;
}

/*---*/

.btn-white:hover {
    background: #ff0000;
    color: #fff !important;
}

.btn-white.btn-border:hover {
    border-color: #ff0000;
}

/*---*/

.text-black {
    color: #454545;
}

.text-white {
    color: #fff;
}

.text-red, a.text-red:hover {
    color: #ff0000;
}

.text-yellow {
    color: #ffc700;
}

.din-font {
    font-family: 'DinNext', sans-serif;
}

.icofont {
    display: inline-block;
}

/*--------------------------------------
*********** BOX ***********
--------------------------------------*/

.div-padding {
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
}

.div-padding.t-0 {
    padding-top: 0;
}

.div-small-padding {
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: hidden;
}

.border-bottom {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.bg-transparent {
    background: transparent;
}

.bg-gray {
    background: #f7f7f7;
}

.bg-white {
    background: #fff !important;
    color: #454545;
}

.table-view {
    display: table;
    width: 100%;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
}

.table-cell.v-top {
    vertical-align: top;
}

.panel {
    box-shadow: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.panel.light-gray {
    background: #fafafa;
}

.panel.gray {
    background: #f1f1f1;
}

.panel-br0 {
    border-radius: 0;
}

.p-0 {
    padding: 0 !important;
}

.p-t-b-20 {
    padding-bottom: 20px;
    padding-top: 20px;
}

.p-b-80 {
    padding-bottom: 80px;
}

.m-0 {
    margin: 0 !important;
}

.m-b-0 {
    margin-bottom: 0 !important;
}

.m-t-0 {
    margin-top: 0 !important;
}

.m-t-5 {
    margin-top: 5px;
}

.m-b-5 {
    margin-bottom: 5px;
}

.m-b-15 {
    margin-bottom: 15px;
}

.m-t-25 {
    margin-top: 25px;
}

.m-t-50 {
    margin-top: 50px;
}

/*--------------------------------------
*********** ANIMATION ***********
--------------------------------------*/

.animate-box {
    position: relative;
    opacity: 0;
    transition: all 1.4s ease-in-out;
    -o-transition: all 1.4s ease-in-out;
    -moz-transition: all 1.4s ease-in-out;
    -webkit-transition: all 1.4s ease-in-out;
}

.animate-box.animated {
    opacity: 1;
}

.animated {
    animation-duration: 1.4s;
    -webkit-animation-duration: 1.4s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(100%);
        -webkit-transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: none;
        -webkit-transform: none;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(100%);
        -webkit-transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: none;
        -webkit-transform: none;
    }
}

.fadeInUp, .fadeInLeft, .fadeInRight {
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

/***/

@-webkit-keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: none;
        -webkit-transform: none;
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: none;
        -webkit-transform: none;
    }
}

/***/

@-webkit-keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: none;
        -webkit-transform: none;
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: none;
        -webkit-transform: none;
    }
}

/*--------------------------------------
*********** LOADER ***********
--------------------------------------*/

.pre-load {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #d00000;
    z-index: 999999;
    text-align: center;
}

.pre-load .loader {
    position: absolute;
    top: calc(50% - 45px);
    left: calc(50% - 45px);
}

.loader {
    color: #ffffff;
    font-size: 90px;
    text-indent: -9999em;
    overflow: hidden;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    /*margin: 72px auto;*/
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}
@keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}
@-webkit-keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*--------------------------------------
*********** HEADER ***********
--------------------------------------*/

.header {
    position: relative;
    /*background: url("../images/main-header-bg.png") no-repeat;
    background-size: cover;*/
    background: transparent;
    min-height: 200px;
    padding: 180px 0 70px;
}

.half-btn {
    padding: 12px 20px;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    margin: 25px 0 40px;
}

.half-btn.red-half:before {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 46px;
    background: #ff0000;
    z-index: 1;
}

.half-btn.red-half:hover {
    color: #fff !important;
}

.half-btn.red-half:hover:before {
    width: 100%;
}

.half-btn span:first-child {
    position: relative;
    z-index: 2;
}

.half-btn .red-icon ,.half-btn .border-icon {
    position: absolute;
    top: 0;
    padding: 4px 12px;
    font-size: 25px;
    color: #fff;
    z-index: 2;
}

.half-btn .red-icon {
    color: #fff;
}

.half-btn .border-icon {
    color: #454545;
}

.header .search-box {
    /*overflow: hidden;*/
    border-radius: 3px;
    box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.3);
}

.header .search-box select {
    margin: 0;
    border-top: 0;
    height: 55px;
}

.header .search-box button {
    height: 55px;
}

.header .search-box div i {
    position: absolute;
    top: 15px;
    font-size: 20px;
    z-index: 100;
}

.header > .container {
    position: relative;
}

.header .social a {
    color: #fff;
    display: block;
    padding: 2px;
    font-size: 18px;
}

.bootstrap-select,
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100%;
}

.bootstrap-select .dropdown-toggle:focus {
    outline: none !important;
}

.btn-group.open .dropdown-toggle {
    box-shadow: none;
}

.btn-default, .btn-default:hover, .btn-default:focus,
.open > .dropdown-toggle.btn-default, .open > .dropdown-toggle.btn-default:hover, .open > .dropdown-toggle.btn-default:focus {
    background: #fff;
}

.bootstrap-select .dropdown-menu > li > a {
    padding: 10px;
}

/*--------------------------------------
*********** NAV ***********
--------------------------------------*/

nav.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 0;
    margin: 0;
    border-radius: 0;
    background: transparent;
}

.nav > li > a {
    background-color: transparent !important;
    position: relative;
    color: #fff;
}

/*.navbar-toggle {
    padding: 0;
    color: #ff0000;
    margin: 15px;
    float: left;
    font-size: 20px;
}*/

.navbar-toggle {
    padding: 0;
    margin-top: 60px;
}

.navbar-toggle .icon-bar {
    background: #ff0000;
}

.navbar-brand {
    height: auto;
    padding: 15px;
}

.navbar-brand img {
    height: 98px;
}

.dropdown.open .dropdown-toggle i {
    transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

.dropdown-menu {
    border-radius: 0;
    border: 0;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
    padding: 0;
    z-index: -1;
    opacity: 0;
    margin: 0;
}

.navbar-nav .open .dropdown-menu {
    background: #fff;
}

.open .dropdown-menu {
    z-index: 1000;
    opacity: 1;
    transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
}

/*--------------------------------------
*********** OFFERS ***********
--------------------------------------*/

.main-header {
    background: url("../images/fork-knife.png") no-repeat top center;
    position: relative;
    padding-bottom: 20px;
}

.main-header:before, .main-header:after {
    content: '';
    position: absolute;
    top: 25px;
    height: 2px;
    width: 20%;
    background: #ebebeb;
}

.main-header:before {
    right: 0;
}

.main-header:after {
    left: 0;
}

.main-header h1 {
    font-size: 24px;
    margin: 8px 0 10px;
    position: relative;
    z-index: 2;
}

.owl-carousel {
    direction: ltr;
}

.owl-carousel .owl-item {
    padding: 1px;
}

.owl-carousel .owl-item img {
    width: auto;
}

.offer-bg {
    text-align: center;
    background: url("../images/logo-holder.png") center no-repeat;
    background-size: 200px auto;
    height: 200px;
    padding-top: 80px;
}

.offers-panel:hover .offer-bg {
    background-size: 220px auto;
}

.offers-panel .din-font {
    height: 45px;
    overflow: hidden;
}

.offer-bg img, .owl-carousel .owl-item .offer-bg img {
    display: inline-block;
    height: 80px;
}

.offer-bg .discount {
    position: absolute;
    top: 10px;
    background: #ff8f3c;
    color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 3px;
    transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.offer-bg .discount:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #fff;
}

.offer-bg .discount span {
    display: block;
    transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    text-align: center;
    padding: 0 3px 0 0;
    line-height: 30px;
}

.offers-panel .panel-body {
    border-bottom: 1px solid #ccc;
    position: relative;
}

.offers-panel .p-5, .p-5 {
    padding: 5px;
}

.offers-panel .panel-body.p-5 h1 {
    font-size: 18px;
    display: inline-block;
    border-bottom: 2px solid #ccc;
    padding-bottom: 4px;
}

.owl-btn {
    padding: 6px 12px;
    font-size: 18px;
    line-height: 1em;
}

.basket-btn {
    padding: 0;
    width: 40px;
    height: 40px;
    line-height: 42px;
    border-radius: 50%;
    font-size: 22px;
    text-align: center;
    position: absolute;
    top: -20px;
    left: calc(50% - 20px);
}

/*--------------------------------------
*********** ADS ***********
--------------------------------------*/

.ads-div {
    background: rgba(2, 2, 2, 0.8);
}

.offers-panel .media-left {
    min-width: 230px;
}

.offers-panel .media-body {
    padding: 10px;
}

.offers-panel .media-body h1 {
    font-size: 18px;
}

/*--------------------------------------
*********** TESTIMONIAL ***********
--------------------------------------*/

.up-70 {
    position: relative;
    top: -55px;
    margin-bottom: -30px;
}

.owl-carousel.owl-single .owl-dots.disabled {
    display: block;
    margin-top: 20px;
}

.owl-carousel.owl-single .owl-dot {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #ccc;
    background: #ccc;
    margin: 2px;
}

.owl-carousel.owl-single .owl-dot.active {
    background: transparent;
}

.user-pic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto;
}

.f-s-20 {
    font-size: 20px;
}

.btn.f-s-20 {
    line-height: 1em;
}

hr {
    border-color: #ccc;
}

/*--------------------------------------
*********** FOOTER ***********
--------------------------------------*/

footer {
    background: #333 url("../images/footer-bg-1.png") no-repeat top left;
    position: relative;
}

footer, footer a, footer a:hover, footer a:focus {
    color: #fff;
}

footer .logo-holder {
    background: url("../images/footer-logo-bg.png") no-repeat center;
    background-size: auto 100%;
    position: absolute;
    top: -64px;
    right: 0;
    width: 100%;
    padding-top: 12px;
    height: 67px;
}

footer .logo-holder div {
    width: 85px;
    height: 85px;
    line-height: 72px;
    border: 2px solid #ff0000;
    border-radius: 50%;
    margin: 0 auto;
}

footer .logo-holder div img {
    height: 60px;
}

.f-header {
    font-size: 20px;
    margin: 20px 0 30px;
}

.f-header:after {
    content: '';
    display: block;
    width: 20%;
    height: 2px;
    background: #ff0000;
    margin-top: 6px;
}

footer hr {
    border-color: rgba(161, 161, 161, 0.5);
}

footer a > .table-cell:first-child {
    width: 80px;
}

footer .table-cell:first-child img {
    width: 65px;
}

footer a > .table-cell.sm:first-child {
    width: 50px;
}

footer .table-cell.sm:first-child img {
    width: 38px;
}

footer .table-cell p {
    margin-bottom: 5px;
}

footer .social li a {
    display: block;
    border: 1px solid #fff;
    width: 35px;
    height: 35px;
    line-height: 37px;
    text-align: center;
}

footer .social li a:hover {
    background: #ff0000;
    border-color: #ff0000;
}

.f-burger {
    position: absolute;
    bottom: 0;
}

.fixed-burger {
    position: fixed;
    bottom: 3%;
    z-index: 100;
    opacity: 0;
}

.fixed-burger.show {
    opacity: 1;
    transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
}

.fixed-burger.stop {
    bottom: 62px;
}

/*--------------------------------------
*********** SMALL FOOTER ***********
--------------------------------------*/

.small-footer {
    background: #1c1c1c;
    color: #fff;
    border-top: 4px solid #ff0000;
    padding: 14px 0 0;
}

/*--------------------------------------
*********** MODAL ***********
--------------------------------------*/

.modal-content {
    border-radius: 0;
}

.boxed-form {
    background: #fafafa;
    border: 1px solid #ccc;
    padding: 10px;
}

.boxed-form textarea {
    background: transparent;
    border: 0;
}

.google-map {
    width: 100%;
    height: 350px;
}

.modal .images-upload-block {
    position: absolute;
    top: -70px;
    left: calc(50% - 56px);
}

.modal-body {
    position: relative;
}

.modal-body .radio-holder, .modal-body .checkbox-holder  {
    min-width: 35%;
}

.inline-block {
    display: inline-block;
    vertical-align: middle;
}

input.no-border {
    border: 0 !important;
    width: 80px !important;
    line-height: 40px;
    max-width: 80px;
    margin: 0 !important;
    text-align: center;
}

/*--------------------------------------
*********** ADD IMAGE ***********
--------------------------------------*/

.images-upload-block {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 10px 5px;
}
.upload-img {
    display: inline-block;
    width: 112px;
    height: 112px;
    border: 1px solid #ccc;
    line-height: 130px;
    text-align: center;
    border-radius: 50%;
    position: relative;
    background: #fafafa;
}
.upload-img i {
    font-size: 36px;
}
.upload-img input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
.uploaded-block {
    position: absolute;
    top: 1px;
    right: 1px;
    width: 110px;
}
.uploaded-block img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
}
.uploaded-block .close {
    position: absolute;
    top: 10px;
    color: #ff0000;
    opacity: 0.95;
    text-shadow: 0 1px 1px rgba(0,0,0,0.3);
    padding: 0;
    font-size: 28px;
}

/*--------------------------------------
*********** LOGIN ***********
--------------------------------------*/

.login-bg {
    background-image: url("../images/login-bg.png");
    background-repeat: no-repeat;
}

.head-icon {
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 50%;
    margin: 0 auto -50px;
    position: relative;
    z-index: 2;
}

.head-icon img {
    width: 60px;
}

.choose-type > div {
    position: relative;
}

.choose-type > div:before {
    content: '';
    position: absolute;
    top: 0;
    width: 50%;
    height: 1px;
    background: #999;
}

.choose-type label {
    padding: 15px;
}

.choose-type label .circle {
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #999;
    margin: 0 auto;
    position: relative;
    top: -18px;
}

.choose-type label input {
    position: absolute;
    opacity: 0;
}

.choose-type label input:checked ~ span {
    color: #ff0000;
}

.choose-type label input:checked ~ i {
    background: #ff0000;
}

.choose-type label span {
    display: inline-block;
}

.login-bg input, .login-bg select, .login-bg .bootstrap-select {
    margin-bottom: 40px;
}

.login-bg select {
    color: #888;
}

.input-of-form {
    min-height: 20px;
}

.input-of-form .bootstrap-select {
    border-bottom: 1px solid #ccc;
}

.input-of-form .bootstrap-select .btn {
    padding: 6px 12px;
}

/*--------------------------------------
*********** CHECKBOX + RADIO ***********
--------------------------------------*/

.checkbox-holder, .radio-holder {
    font-weight: 100;
    position: relative;
    cursor: pointer;
    margin: 6px 0;
}

.checkbox-holder span, .radio-holder span {
    vertical-align: middle;
}

.checkbox-holder .checkbox-icon, .radio-holder .radio-icon {
    width: 15px;
    height: 15px;
    line-height: 13px;
    display: inline-block;
    background: #fff;
    text-align: center;
    border: 1px solid #ff0000;
    margin: 0 4px;
}

.radio-holder .radio-icon {
    border-radius: 50%;
}

.checkbox-holder input[type="checkbox"], .radio-holder input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkbox-holder input[type="checkbox"]:checked + .checkbox-icon, .radio-holder input[type="radio"]:checked + .radio-icon {
    background: #ff0000;
}

.checkbox-holder .checkbox-icon i, .radio-holder .radio-icon i {
    font-size: 13px;
    opacity: 0;
}

.checkbox-holder input[type="checkbox"]:checked + .checkbox-icon i, .radio-holder input[type="radio"]:checked + .radio-icon i {
    color: #fff;
    opacity: 1;
}

/*--------------------------------------
*********** MESSAGES ***********
--------------------------------------*/

.message-box .icofont {
    font-size: 60px;
}

.message-box .table-cell:first-child {
    text-align: center;
}

.message-box .table-cell:last-child {
    padding: 15px;
}

/*--------------------------------------
*********** ORDERS ***********
--------------------------------------*/

.order-img {
    width: 80px;
    height: 80px;
    padding: 4px;
    border: 1px solid #ccc;
    margin: 0 auto 15px;
}

.order-img img {
    width: 70px;
    height: 70px;
}

.order-box {
    margin: 10px 0;
}

.order-box h3 {
    margin: 0 0 7px;
    position: relative;
}

.order-box h3 span {
    background: #fff;
    display: inline-block;
    position: relative;
}

.order-box h3:before {
    content: '';
    position: absolute;
    bottom: 4px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #ccc;
}

.order-box .table-view .f-s-20 {
    font-size: 16px;
}

.pagination {
    text-align: center;
    display: block;
    margin-top: 40px;
}

.pagination li {
    margin: 0;
    display: inline-block;
}

.pagination li a {
    float: none;
    display: block;
    border-radius: 0 !important;
    margin: 0 4px 8px !important;
    color: #212121;
    border-color: #ccc;
}

.pagination li.active a, .pagination li.gray a {
    background: #ebebeb;
    border-color: #ccc;
    color: #212121;
}

.pagination li.active a:hover, .pagination li a:hover,
.pagination li.active a:focus, .pagination li a:focus {
    background: #ff0000;
    border-color: #ff0000;
    color: #fff;
}

.search-form .bootstrap-select {
    margin: 7px 0;
}

.search-form select:last-child {
    margin-bottom: 0;
}

.search-box {
    position: relative;
}

.search-box:not(.show) ~ .search-data {
    min-width: 100%;
}

/*--------------------------------------
*********** VIEW RESTAURANTS ***********
--------------------------------------*/

.image-holder {
    display: block;
    margin: 0 0 20px;
    position: relative;
    overflow: hidden;
}

.image-holder.half-height {
    height: 200px;
}

.image-holder.half-height img {
    min-height: 200px;
}

.image-holder.full-height {
    height: 420px;
}

.image-holder.full-height img {
    min-height: 420px;
}

.image-holder:hover .overlay {
    opacity: 1;
    transform: scaleY(1);
    -o-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -webkit-transform: scaleY(1);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 1;
    opacity: 0;
    transform: scaleY(0);
    -o-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform-origin: bottom;
    -o-transform-origin: bottom;
    -ms-transform-origin: bottom;
    -moz-transform-origin: bottom;
    -webkit-transform-origin: bottom;
}

.overlay i {
    position: absolute;
    top: calc(50% - 12px);
    left: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 24px;
    z-index: 2;
}

/*--------------------------------------
*********** FAMILY PAGE ***********
--------------------------------------*/

.relative-parent {
    position: relative;
}

.rest-logo-holder {
    background: #fff;
    position: absolute;
    top: -70px;
    left: calc(50% - 70px);
    width: 140px;
    height: 140px;
    line-height: 140px;
    text-align: center;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.15);
}

.rest-logo-holder img {
    width: 130px;
    max-height: 130px;
}

.panel-title small {
    color: #888;
}

.panel-title {
    margin-top: 5px;
    font-size: 18px;
}

.panel-heading.gray {
    background: #f1f1f1;
    border-bottom: 1px solid #ccc;
}

.empty-cart {
    padding: 50px 0;
}

.cart-icon {
    width: 88px;
    height: 88px;
    line-height: 80px;
    border-radius: 50%;
    border: 1px solid #ccc;
    background: #f1f1f1;
    margin: 0 auto 15px;
}

.tabs {
    margin: 0 !important;
}

.tabs:after {
    background: #fafafa;
    border: 1px solid #ccc;
}

.tabs > li > a {
    color: #454545;
    padding-bottom: 15px;
    position: relative;
}

.tabs:after, .tabs > li > a:after {
    content: '';
    display: block;
    height: 6px;
    width: 100%;
    border-radius: 5px;
}

.tabs > li > a:after {
    background: #ff0000;
    position: absolute;
    bottom: -6px;
    transform: scaleX(0);
    -o-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -webkit-transform: scaleX(0);
}

.tabs > li.active > a:after, .tabs > li > a:hover:after {
    transform: scaleX(1);
    -o-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -webkit-transform: scaleX(1);
}

.label {
    display: inline-block;
}

.label.round {
    border-radius: 50%;
    padding: 0;
    width: 18px;
    height: 18px;
    line-height: 1.4em;
    text-align: center;
}

.label-default {
    font-size: 14px;
    padding: 4px 15px 9px;
    border: 1px solid #eaeaea;
    color: #888;
    border-radius: 20px;
    display: inline-block;
    margin: 10px 0 5px;
    min-width: 100px;
}

/**  Rating buttons  **/

.rating-holder {
    position: relative;
    display: inline-block;
}

.rating-holder input {
    position: absolute;
    z-index: 2;
    opacity: 0;
}

.rating-holder label {
    padding: 0 2px;
    color: #888;
    position: relative;
    z-index: 3;
}

.rating-holder input:checked ~ label, .rating-holder input:hover ~ label {
    color: #ff0000;
}

.inside-tabs {
    margin: 0;
    border: 1px solid #ccc;
}

.inside-tabs > li > a {
    color: #454545;
}

.inside-tabs > li.active > a {
    color: #ff0000;
}

.search-with-btn {
    position: relative;
    margin-bottom: 20px;
}

.search-with-btn input {
    margin: 0;
}

.search-with-btn .search-btn {
    position: absolute;
    top: 1px;
    bottom: 1px;
    background: #fafafa;
    color: #888;
    padding: 8px 10px;
}

.menu-list li {
    padding: 15px 0;
}

.menu-list li:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.menu-list li a {
    display: block;
    padding: 0 15px;
    color: #454545;
}

.menu-list li a:hover {
    color: #ff0000;
    border-color: #ff0000;
}

/*--------------------------------------
*********** DELIVERY ***********
--------------------------------------*/

.big-map {
    width: 100%;
    height: 350px;
    margin-bottom: 30px;
}

.modal-backdrop {
    display: none!important;
}

.modal {
    z-index: -1;
    display: block;
}

.modal.in {
    z-index: 1050;
}

/*--------------------------------------
*********** START MEDIA ***********
--------------------------------------*/

@media (max-width: 767px) {

    .navbar-collapse {
        position: fixed;
        top: 0;
        width: 250px;
        min-height: 100%;
        background: #fcfcfc;
        bottom: 0;
        margin: 0 !important;
        display: block;
        z-index: 1000;
    }

    .navbar-collapse.in {
        transform: translateX(0);
        -o-transform: translateX(0);
        -ms-transform: translateX(0);
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
    }

    .navbar-toggle:not(.collapsed) span {
        transform-origin: center;
        -o-transform-origin: center;
        -ms-transform-origin: center;
        -moz-transform-origin: center;
        -webkit-transform-origin: center;
    }

    .navbar-toggle:not(.collapsed) span:nth-child(2) {
        opacity: 0;
    }

    .navbar-toggle:not(.collapsed) span:first-child {
        transform: rotate(50deg) translate(0, 8px);
        -o-transform: rotate(50deg) translate(0, 8px);
        -ms-transform: rotate(50deg) translate(0, 8px);
        -moz-transform: rotate(50deg) translate(0, 8px);
        -webkit-transform: rotate(50deg) translate(0, 8px);
    }

    .navbar-toggle:not(.collapsed) span:last-child {
        transform: rotate(-50deg) translate(1px, -9px);
        -o-transform: rotate(-50deg) translate(1px, -9px);
        -ms-transform: rotate(-50deg) translate(1px, -9px);
        -moz-transform: rotate(-50deg) translate(1px, -9px);
        -webkit-transform: rotate(-50deg) translate(1px, -9px);
    }

    .nav > li > a {
        color: #454545;
    }

    .nav.navbar-right {
        border-bottom: 1px solid #eaeaea;
        padding-bottom: 15px;
        margin-bottom: 15px;
    }

    .nav.navbar-left.no-border {
        border-top: 1px solid #eaeaea;
        padding-top: 15px;
        margin-top: 15px;
    }

    .nav .dropdown-menu {
        display: block;
        opacity: 1;
        position: static;
        background: transparent;
        box-shadow: none;
        float: none;
    }

    .nav .dropdown-menu li a {
        padding: 10px 15px;
        color: #454545;
    }

    .nav .dropdown-menu li a:hover {
        background: transparent;
    }

    .nav .dropdown-menu > li > a i {
        color: #ff0000;
    }

    .header .social {
        margin-top: 40px;
    }

    .header .social li {
        display: inline-block;
        vertical-align: middle;
        padding: 2px 4px;
    }

    .header .social li i {
        font-size: 26px;
    }

    .offers-panel .media-left, .offers-panel .media-body {
        display: block;
        width: auto;
    }

    .offers-panel .media-body {
        padding-bottom: 25px;
    }

    .fixed-burger.stop {
        bottom: 93px;
    }

    .modal-dialog.with-upload {
        margin: 65px 10px 10px;
    }

    .table-cell.block {
        display: block;
    }

    .open-search-btn {
        width: 100%;
        margin-bottom: 20px;
        display: block;
        padding: 7px 0;
        text-align: center;
    }

}

@media (min-width: 768px) {

    .header .social {
        position: absolute;
        top: 5%;
    }

    .nav {
        margin-top: 40px;
    }

    .nav.navbar-right {
        border-bottom: 4px solid #ff0000;
    }

    .nav.navbar-right > li > a:before {
        content: attr(data-count);
        display: block;
        position: absolute;
        width: 18px;
        height: 18px;
        top: calc(100% - 8px);
        left: calc(50% - 9px);
        background: #fff;
        color: #ff0000;
        border-radius: 50%;
        opacity: 0;
        text-align: center;
        font-family: 'Roboto-Medium', sans-serif;
        transform: translateY(20px);
        -o-transform: translateY(20px);
        -ms-transform: translateY(20px);
        -moz-transform: translateY(20px);
        -webkit-transform: translateY(20px);
    }

    .nav.navbar-right > li > a:hover:before,
    .nav.navbar-right > li.active > a:before,
    .nav.navbar-right > li.open > a:before {
        opacity: 1;
        transform: translateY(0);
        -o-transform: translateY(0);
        -ms-transform: translateY(0);
        -moz-transform: translateY(0);
        -webkit-transform: translateY(0);
    }

    .nav.navbar-left:not(.no-border) > li {
        border: 1px solid rgba(255, 255, 255, 0.2);
        margin-top: 5px;
    }

    .nav.navbar-left.no-border > li {
        margin-top: 15px;
    }

    .nav.navbar-left.no-border > li a {
        padding: 0 10px;
    }

    .nav.navbar-left > li > a {
        padding: 8px 15px;
    }

    .dropdown-menu {
        display: block;
        transform: translateY(15px);
        -o-transform: translateY(15px);
        -ms-transform: translateY(15px);
        -moz-transform: translateY(15px);
        -webkit-transform: translateY(15px);
    }

    .navbar-nav .dropdown-menu {
        margin-top: 15px !important;
        min-width: 300px;
        font-family: 'DinNext', sans-serif;
    }

    .navbar-nav .dropdown-menu:before {
        content: '';
        position: absolute;
        top: -10px;
        border-bottom: 10px solid #fff;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
    }

    .navbar-nav .dropdown-menu li:not(:last-child) {
        width: calc(100% / 3);
        text-align: center;
    }

    .navbar-nav .dropdown-menu li:not(:last-child) a {
        padding: 15px 0;
    }

    .navbar-nav .dropdown-menu li:not(:last-child) a i {
        display: block;
        margin-bottom: 7px;
    }

    .navbar-nav .dropdown-menu li:last-child {
        border-top: 1px solid #ccc;
        clear: both;
        padding: 10px 14px;
        text-align: center;
    }

    .navbar-nav .dropdown-menu li:last-child a {
        background: #ff0000;
        color: #fff;
        border-radius: 20px;
        display: inline-block;
        padding: 7px 25px;
    }

    .modal-dialog {
        margin: 90px auto 30px;
    }

    .message-box .table-cell:first-child {
        width: 100px;
    }

    .open-search-btn {
        position: absolute;
        top: 0;
        width: 49px;
        height: 55px;
        line-height: 60px;
        text-align: center;
    }

    .order-img-holder {
        width: 100px;
    }

}

@media (min-width: 768px) and (max-width: 991px) {

    .nav > li > a, .nav.navbar-left > li > a {
        padding-left: 6px;
        padding-right: 6px;
    }

}

@media (min-width: 992px) {

    .col-20 {
        width: 20%;
    }

    .header .search-box select {
        border-bottom: 0;
    }

}

@media (min-width: 1200px) {

    .main-header:before, .main-header:after {
        width: 25%;
    }

    .search-box.show ~ .search-data .col-lg-3 {
        min-width: 33%;
    }

}


.notes-txtarea{
    width: 100%;
    margin: auto;
    margin-top: 50px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    position: inherit;
    opacity: (0);
    transform: scale(0);
}

.notes-txtarea textarea{
    width: 100%;
    border: 1px solid #f7f7f7;
    color: #f00;
    font-size: 16px;
    font-weight: 600;
}

.notes-txtarea input{
    width: 110px;
    /*border-radius: 40px;
    background: #f00;
    color: #fff;*/
    text-align: center;;
    font-size: 17px;
    font-weight: 500;
    background: red!important
}

.popping{
    opacity: (1);
    transform: scale(1);
    transition: 0.5s all ease-in-out;
}
.modal-dialog.to-right-{
    right: -65px
}