select {
    background-position-x: calc(100% - 10px);
}

.pull-left {
    float: right !important;
}

.pull-right {
    float: left !important;
}

.text-left {
    text-align: right !important;
}

.text-right {
    text-align: left !important;
}

.icofont-simple-left, .icofont-arrow-right, .icofont-arrow-left {
    transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

/*--------------*/

.full-width {
    text-align: left;
}

.right-fa {
    margin-right: 5px;
}

.left-fa {
    margin-left: 5px;
}

/*--------------*/

.half-btn {
    padding-right: 65px;
}

.half-btn.red-half:before {
    right: 0;
}

.half-btn .red-icon ,.half-btn .border-icon {
    right: 0;
}

.half-btn .border-icon {
    border-left: 1px solid #ccc;
}

.header .search-box select {
    border-right: 1px solid #ccc;
    padding: 10px 0 10px 30px;
    border-left: 0;
}

.header .search-box .btn.dropdown-toggle {
    border-right: 1px solid #ccc;
}

.header .search-box > div:first-child .btn.dropdown-toggle {
    border-radius: 3px 0 0 3px;
}

.header .search-box > div:last-child button {
    border-radius: 0 3px 3px 0;
}

.header .search-box div i {
    left: 9px;
}

.bootstrap-select > .dropdown-toggle {
    padding-right: 20px;
    padding-left: 35px;
}

/*--------------*/

.navbar-toggle {
    float: right;
    margin-left: 0;
    margin-right: 15px;
}

.navbar-brand {
    float: left;
}

.dropdown-menu {
    text-align: left;
}

/*--------------*/

.offer-bg .discount {
    right: 10px;
}

.border-left {
    border-right: 1px solid #ccc;
}

/*--------------*/

.offers-panel .media-left {
    padding-left: 0;
}

/*--------------*/

.f-burger {
    left: 3%;
}

.fixed-burger {
    left: calc(3% + 18px);
    transform: translateX(-100px);
    -o-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -webkit-transform: translateX(-100px);
}

.uploaded-block .close {
    right: 10px;
}

/*--------------*/

.choose-type > div.right-item:before {
    left: 50%;
}

.choose-type > div.left-item:before {
    right: 50%;
}

/*--------------*/

.tabs > li > a:after {
    left: 0;
    transform-origin: left;
    -o-transform-origin: left;
    -ms-transform-origin: left;
    -moz-transform-origin: left;
    -webkit-transform-origin: left;
}

.rating-holder label {
    float: right;
}

.search-with-btn .search-btn {
    right: 1px;
}

.menu-list li a {
    border-left: 2px solid transparent;
}

/*--------------*/

@media (max-width: 767px) {

    .navbar-collapse {
        left: 0;
        box-shadow: 2px 0 4px 0 rgba(0, 0, 0, 0.15);
        transform: translateX(-100%);
        -o-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
    }

    .header .search-box select {
        border-right: 0;
    }

    .dropdown-menu > li > a i {
        margin-right: 10px;
    }

}

@media (min-width: 768px) {

    .text-align-right {
        text-align: left;
    }

    .text-align-left {
        text-align: right;
    }

    .fadeInLeft {
        -webkit-animation-name: fadeInRight;
        animation-name: fadeInRight;
    }

    .fadeInRight {
        -webkit-animation-name: fadeInLeft;
        animation-name: fadeInLeft;
    }

    .header .social {
        right: 15px;
    }

    .navbar-nav > li, .navbar-header, .navbar-right {
        float: left !important;
    }

    .navbar-left {
        float: right !important;
    }

    .nav.navbar-left.no-border {
        margin-right: 10px;
    }

    .nav.navbar-left.no-border > li:first-child {
        border-right: 1px solid rgba(255, 255, 255, 0.2)
    }

    .nav.navbar-left > li:not(.dropdown):last-child {
        border-left: 0;
    }

    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        margin-right: 0;
    }

    .dropdown-menu {
        right: 0;
        left: auto;
    }

    .navbar-nav .dropdown-menu:before {
        right: 10px;
    }

    .navbar-nav .dropdown-menu li:not(:last-child) {
        float: left;
    }

    .navbar-nav .dropdown-menu li:not(:first-child) a,
    .navbar-nav .dropdown-menu li:not(:last-child) a,
    .item-b-left .table-cell:not(:first-child) {
        border-left: 1px solid #ccc;
    }

    .message-box .table-cell:first-child {
        border-right: 1px solid #ccc;
    }

    .order-box .table-view {
        padding-left: 15px;
    }

    .open-search-btn {
        left: -39px;
    }

    /*----------*/

    .col-sm-push-6 {
        left: auto;
        right: 50%;
    }

    .col-sm-pull-3 {
        right: auto;
        left: 25%;
    }

    .col-sm-pull-2 {
        right: auto;
        left: 16.66666667%;
    }

}

@media (min-width: 992px) {

    .nav.navbar-right {
        margin-left: 20px;
    }

    .col-md-pull-2 {
        right: auto;
        left: 16.66666667%;
    }

}

@media (min-width: 1200px) {

    .col-lg-pull-3 {
        right: auto;
        left: 25%;
    }

}